.features-conteiner {
  max-width: 320px;
  margin: 0 auto;
}
.features {
  padding: 32px 0 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
  overflow: hidden;
  &__titles {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $lightPurple;
    padding: 0 43px;
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    &-picture {
      max-width: 110px;
      max-height: 65px;
    }
    &-title {
      margin: 27px 0 14px;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: $BlackColor;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #848E97;
    }
  }
  &__last-picture {
    max-width: 480px;
    max-height: 381px;
    overflow: hidden;

    &__img {
      min-width: 320px;
      min-height: 355px;
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .features-conteiner {
    max-width: 768px;
    margin: 0 auto;
  }
  .features {
    padding: 62px 0 0;
    &__titles {
      font-size: 42px;
      line-height: 44px;
    }
    &__content {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 40px;
      &-information {
        width: 70vw;
        text-align: left;
      }
      &-title {
        margin: 0 0 14px;
        line-height: 21px;
      }
    }
    &__last-picture {
      max-width: 992px;
      max-height: 519px;
      display: flex;
      justify-content: end;
      &__img {
        max-width: 700px;
        max-height: 519px;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .features-conteiner {
    max-width: 1380px;
    margin: 0 auto;
  }
  .features-items {
    background: #F4F4F4;
  }
  .features {

    display: grid;
    grid-template-columns: repeat(2, 50%);
    //grid-template-rows: repeat(4, 1fr);
    //height: 655px;
    padding: 100px 0 10px;
    row-gap: 0;
    &__titles {
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    &__content {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 40px;
      &-information {
        width: 30vw;
        text-align: left;
      }
    }
    &__last-picture {
      max-width: 992px;
      max-height: 519px;
      display: flex;
      justify-content: end;

      &__img {
        max-width: 700px;
        max-height: 519px;
      }
    }
    &__content:nth-child(2) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__content:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/4;
    }
    &__content:nth-child(4) {
      grid-column: 1/2;
      grid-row: 4/6;
    }
    &__content:nth-child(5) {
      grid-column: 1/2;
      grid-row: 6/8;
    }
    &__titles:first-child {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &__last-picture:last-child {
      grid-column: 2/3;
      grid-row: 2/8;
    }
  }
}