.hero {
  width: 100%;
  background-color: #27262A;

  &__navbar {
    padding: 23px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  &__navbar-button {
    width: 119px;
    height: 37px;
    border-radius: 40px;
    border: none;
    background-color: $lightPurple;
  }

  &__navbar-button-text {
    font-weight: 700;
    font-size: 15px;
    color: $whiteColor;
  }

  &__burger-button {
    display: flex;
    overflow: hidden;
    width: 44px;
    height: 37px;
    border: none;
    box-shadow: none;

  }

  &__burger {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 10px;
    padding: 12px 2px 2px 3.5px;
  }

  &__burger-line-one {
    width: 40%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    align-self: flex-end;
  }

  &__burger-line {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
  }

  .active-burger {
    .hero__burger-line-one {
      opacity: 0;
    }
    .hero__burger-line:nth-child(2) {
      transform: translate(0, 4px) rotate(45deg);
    }
    .hero__burger-line:last-child {
      transform: translate(0, 0) rotate(-45deg);
    }
  }


  &__content-burgerMenu {
    top: 0;
    right: 5%;
    left: 5%;
    display: none;
    min-width: 90%;
    position: absolute;
    flex-direction: column;
    background-color: #333333;
    justify-content: flex-start;
    transition: all 0.3s ease;
  }

  &__hidden {
    position: relative;
  }

  &__content-burgerMenu--active {
    display: flex;
  }

  &__content-burgerMenu-item {
    text-align: left;
    color: $whiteColor;
    font-size: 26px;
    line-height: 26px;
    padding: 29px 0 25px 35px;
    background-color: #333333;
    border-bottom: 1px solid grey;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    width: 100%;
  }

  &__content-burgerMenu-item:focus {
    color:  $lightPurple;
  }

  &__content-burgerMenu-item:focus::before {
    content: "";
    height: 55%;
    width: 8px;
    background-color: #8D81AC;
    position: absolute;
    right: 96%;
    bottom: 20%;
  }

  &__navigation-list-tabletMenu {
  display: none;

  }

  &__navigation-list-desktopMenu {
    display: none;
  }

  &__navigation-logo {
    align-items: center;
    display: flex;
  }

  &__navigation-logo-text {
    display: none;
    font-weight: 700;
    color: #8D81AC;
  }

  &__navigation-logo-text-desktop {
    display: none;
    font-weight: 700;
    color: #8D81AC;
  }


  &__img {
    background-image: url("../img/header/header-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding: 50px;
    flex-direction: column;
    text-align: center;
  }

  &__content-title {
    font-weight: 700;
    font-size: 48px;
    color: $whiteColor;
  }

  &__content-text {
    font-size: 18px;
    line-height: 24px;
    color: $lightPurple;
    margin-bottom: 19px;
    font-weight: 700;
  }

  &__content-text-for {
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    margin-bottom: 416px;
    font-weight: 400;
  }

  &__offer {
    position: relative;
  }

  &__offer-button {
    font-size: 18px;
    line-height: 20px;
    color: $whiteColor;
    border-radius: 40px;
    border: none;
    background: $lightPurple;
    padding: 13px 29px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 700;
  }

  &__offer-text {
    top: 35px;
    left: 5%;
    right: 5%;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    text-align: center;
    font-weight: 400;
  }

}

@media (min-width: $tablet) {
  .hero {
    &__img {
      background-image: url("../img/header/header-content-background-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__burger-button {
      display: none;
    }

    &__navigation-logo-text {
      padding: 0 0 0 15px;
      display: block;
      font-size: 24px;
      line-height: 16px;
      color: $lightPurple;
    }

    &__navigation-list-tabletMenu {
      display: flex;
      justify-content: space-evenly;
      max-width: 70%;
      margin: 10px auto 0;
    }

    &__navigation-list-tabletMenu-item {
      padding: 0 20px 18px;
      color: $lightPurple;
      font-weight: 700;
      font-size: 16px;
    }

    &__content-title {
      margin: 70px 0 20px;
    }

    &__offer-button {

    }

  }

}


@media (min-width: $desktop) {
  .hero {
    background-color: black;

    &__img {
      background-image: url("../img/header/header-content-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__navigation-list-tabletMenu {
      display: none;
    }


    &__navigation-list-desktopMenu {
      display: flex;
      align-items: center;
      position: absolute;
      top: -7%;
      left: 30%;

    }

    &__navigation-list-desktopMenu-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 17px;
      color: $lightPurple;
      padding: 0 22px;
    }

    &__navigation-logo-text-desktop {
      position: absolute;
      right: 0;
      left: 7%;
      display: block;
      font-size: 24px;
      line-height: 16px;
      color: $lightPurple;
    }

    &__navigation-logo:hover .hero__navbar-logo-img {
      content: url("../img/header/header-logo-nafigation-white.svg");
    }

    &__navigation-logo-text:hover {
      color: $whiteColor;
    }

    &__navigation-list-desktopMenu-item:hover {
      color: $whiteColor;
    }

    &__navigation-logo-text-desktop:hover {
      background-color: $whiteColor;
      color: $lightPurple;
    }

    &__navbar-button:hover {
      background-color: $whiteColor;
    }

    &__navbar-button-text:hover {
      color: $lightPurple;
    }

    &__offer-button:hover {
      background-color: $whiteColor;
      color: $lightPurple;
      border: 1px solid black;
    }

  }
}

