* {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Lato', sans-serif;
}
//.conteiner {
//  max-width: 1170px;
//  margin: 0 auto;
//}

a {
  text-decoration: none;
}

.container {
  padding: 0 10px;
}
